body {
     margin: 4vw 16vw;
     background-color: dodgerblue;
     text-align: center;
}
// img {
//      text-align: center;
// }
.point {
     margin-bottom: 2vw;
     display: inline-flex;
     transform: rotate(60deg);
}
.wheel {
     display: inline;
     transition: all 1s cubic-bezier(.52,0,.25,1);
}
button {
     display: block;
     justify-content: center;
     margin-top: 2vw;
     margin-left: 50%;

}